apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "tsduck.fullname" . }}
  labels:
    {{- include "tsduck.labels" . | nindent 4 }}
spec:
  selector:
    matchLabels:
      {{- include "tsduck.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "tsduck.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "tsduck.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            {{- range $port := .Values.ports }}
            - name: {{ printf "input-%d" $port }}
              containerPort: {{ $port }}
              protocol: TCP
            {{- end }}
          volumeMounts:
          - name: {{ .Chart.Name }}-config
            mountPath: "/autorun"
            readOnly: true       
          - name: {{ include "tsduck.fullname" . }}-data-volume
            mountPath: "/data"
          env:
            {{- include "helpers.list-env-variables" . | indent 12 }}              
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      volumes:
      - name: {{ .Chart.Name }}-config
        configMap:
          name: {{ include "tsduck.fullname" . }}-config
      - name: {{ include "tsduck.fullname" . }}-data-volume
        persistentVolumeClaim:
          claimName: {{ include "tsduck.fullname" . }}-data-volume
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
