apiVersion: v1
kind: Service
metadata:
  name: {{ include "tsduck.fullname" . }}
  labels:
    {{- include "tsduck.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
  {{- range $port := .Values.ports }}
  - name: {{ printf "input-%d" $port }}
    port: {{ $port }}
    targetPort: {{ $port }}
    protocol: TCP
  {{- end }}  
  selector:
    {{- include "tsduck.selectorLabels" . | nindent 4 }}
